@import "tailwindcss";


@theme {
   --color-White: hsl(0, 0%, 100%);
--color-Slate-300: hsl(212, 45%, 89%);
--color-Slate-500: hsl(216, 15%, 48%);
--color-Slate-900: hsl(218, 44%, 22%);

}
@theme{
   --color-Green-500: hsl(158, 36%, 37%);
--color-Green-700: hsl(158, 42%, 18%);
--color-Black: hsl(212, 21%, 14%);
--color-Grey: hsl(228, 12%, 48%);
--color-Cream: hsl(30, 38%, 92%)

}

@theme{
--color-Yellow: hsl(47, 88%, 63%);
--color-Gray-500: hsl(0, 0%, 42%);
--color-Gray-950: hsl(0, 0%, 7%);
--shadow-right-bottom: 8px 8px 0px 0px ;
}


@theme{
    --color-Green: hsl(75, 94%, 57%);
--color-White: hsl(0, 0%, 100%);
--color-Grey-700: hsl(0, 0%, 20%);
--color-Grey-800: hsl(0, 0%, 12%);
--color-Grey-900: hsl(0, 0%, 8%)
}

@theme{
   --color-Red: hsl(0, 78%, 62%);
--color-Cyan: hsl(180, 62%, 55%);
--color-Orange: hsl(34, 97%, 64%);
--color-Blue: hsl(212, 86%, 64%);
--color-Grey-500: hsl(234, 12%, 34%);
--color-Grey-400: hsl(212, 6%, 44%);
}